<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API Tester</title>
</head>
<body>
    <center>
        <p> Enter a message:</p>
        <textarea rows="10" id="data"></textarea>
        <button id="button_send">Send</button>
        <button id="button_location">Send your location</button>
    </center>
</body>
<script src="/static/jquery.js"></script>
<script>
    $("#button_send").click(function(){
        data = $('#data').val()
        $.ajax({
            url: "/send",
            type: 'POST',
            dataType: 'JSON',
            data: JSON.stringify({'text': data}),
            contentType: 'application/json',
            processData: false
        });
    });
     $("#button_location").click(function(){
        data = $('#data').val()
        $.ajax({
            url: "/send_location",
            type: 'POST',
            dataType: 'JSON',
            contentType: 'application/json',
            processData: false
        });
    });
</script>
</html>